.carousel-inner{
    padding-left:15%;
    padding-bottom:5%;
}
@media screen and (max-width: 992px) {
    .achievement-section {
      display: flex;
      flex-direction: column;
    }
    .achievement-card{
        margin-bottom: 20px;
    }
  }