.outerdiv {
    justify-content: center;
}
.nav-link{
    padding-left: 10px;
    padding-right: 10px;
}
.bannerimage{
    background-image: url("../../Assets/banner.png") ;
    width: 100vw;
    height: auto;
}
.image {
    width: 100%;
}
.nav-link { 
    color : white;
}   
.navbar .navbar-brand, .navbar .navbar-nav .nav-link{
    color: white ;
    
  }

#offcanvasNavbarDropdown-expand-lg-hehe {
    color: black;
}
.staticbutton {
    color:white;
}
.staticbutton:active {
    color:white;
}
.nav-link.active {
    color:white !important;
}
    
  